@tailwind base;

/* Write your own custom base styles here */
@layer base {
    body {
        background-color: peachpuff;
    }
    h1 {
        color: #c65127;
    }
}
/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
    /* @variants hover, focus {
        .filter-none {
        filter: none;
        }
        .filter-rotate {
        --tw-hue-rotate: hue-rotate(15deg);
        }
    } */
/* Your own custom utilities */
